@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************************/

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3473c5 #f8f7f7;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1em;
  }

  *::-webkit-scrollbar-track {
    background: #f8f7f7;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3473c5;
    border-radius: 0.625em;
    border: 3px solid #f5f4f4;
  }


body {
	background-repeat: no-repeat;
	background-image: fixed;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Poppins', sans-serif;
	color: white;
	height: 98vh;
	transition: all 1s ease;
}

.index {
	display: flex;
	justify-content: space-around;
	overflow-y: hidden;
}


h2 {
	font-size: 1.563em;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
	background-color: #33333350;
	height: 30px;
}

a {
	text-decoration: none;
	color: white;
}

h3 {
	font-size: 1em;
	margin-bottom: 0.313em;
}

input {
	border-radius: 0.313em;
	border-style: none;
	padding: 0.625em;
}

input:hover {
	cursor: text;
}

.button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size: 1em;
	padding: 0.438em 1.563em;
	text-decoration:none;
	text-shadow: 0px 1px 0px #e1e2ed;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	position: relative;
	top: 0.063em;
}

.container_links {
	background-color: transparent;
	padding-top: 6%;
	margin-bottom: 1.563em;
}

.links {
	display: flex;
	flex-direction: column;
	padding: 1.25em;
	max-width: 25em;
	gap: 0.625em;

}

.containerFavourites {
	padding: 1.563em;
	max-width: 25em;

}

.ulFavourites {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25em;
	height: 300px;
	overflow-y: scroll;
	overflow-y: auto;
}

/* Para ocultar la barra de desplazamiento

.ulFavourites::-webkit-scrollbar {
    display: none;
}*/


.ulFavourites li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 23.438em;
	max-height: 30px;
	background-color: #33333393;
	padding: 0.625em;
	border-radius: 0.313em;
	word-break: break-word;
}

.removeLink {
	margin-left: 0.625em;
	background: transparent;
	border: none;
}

.removeLink:hover {
	cursor: pointer;
}

.favouriteLink {
	background-color: #33333393;
	padding: 0.625em;
}


.section2 {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.container_clock {
	text-align: center;
	margin-top: 0.625em;
	color: antiquewhite;
	text-shadow: 4px 4px 2px rgba(197,27,33,0.6);
	line-height: 1.2;
	background-color: transparent;
}

.time {
	font-size: 3.125em;
	color: black;
}

.date {
	font-size: 1.25em;
	color: black;
	font-weight: bold;
}

.individual_clock {
	background-color: #33333393;
	max-width: 25em;
	border-radius: 15px;
	padding: 1.25em;
}

.phrase, .h3_clock {
	color: white;
}

.container_weather {
	display: flex;
	flex-direction: column;                                                        
	max-width: 29.688em;
	background-color: #33333393;
	border-radius: 15px;
	height: 270px;
	padding: 1.25em 1.25em 0 1.25em;
}

.weather {
	max-width: 29.688em;
}

.textWeather {
	color: #ffe5c1;
}

.thermometer {
    max-width: 3.125em;
	color: white;
	margin-right: 3.125em;
	margin-left: 0.625em;
}

.actualWeather {
	display: flex;
	align-items: center;
}

.ulWeather {
	font-size: 0.875em;
	color: #b0b0b0;
}

.temperature {
	font-size: 2.813em;
}

.forecastWeather {
	display: flex;
	overflow-x: scroll;
	margin-top: 1.25em;
	height: 120px;
}

.iconWeather {
	max-width: 5em;
}

.index_passw .container_password {
    max-width: 32.188em;
    margin: auto;
}

.index .container_password {
    max-width: 32.188em;
}

.password_div {
	padding: 1.875em;
	background-color: #33333393;
	border-radius: 15px;
	margin-top: 0.313em;
}

#password_input {
	width: 55px;
}

.securePassword {
	display: flex;
	flex-direction: column;
	margin-top: 1.25em;
	max-width: 25em;
	flex-wrap: wrap;
	gap: 0.625em;
}

.passwordGenerated {
	word-break: break-all;
	color: #ffe5c1;
}

.footer {
	position: absolute;
    bottom: 15px;
	font-size: 1.875em;
	width: 90%;
	padding: 0.625em;
	border-bottom: 2px solid white;
	text-align: center;
}


.home {
	position: absolute;
	font-size: 1.25em;
	margin-top: 1.25em;
	margin-left: 1.25em;
	text-shadow: 4px 4px 2px rgba(197,27,33,0.6);
}

.index_clock, .index_weather, .index_passw, .index_links {
	height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@media (max-width:1120px) {
	.index {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container_weather, .container_links {
		max-width: 80%;
	}

	.individual_clock {
		max-width: 80%;
	}
	.section2 .container_weather, .section2 {
		max-width: 94%;
	}

	.section2 {
		gap: 1.25em;
		order: -1;
	}
	.index .footer {
		position: sticky;
		
	}
	.ulFavourites {
		height: 250px;
	}
	#btn_password {
		margin-top: 10px;
	}
}

@media (max-width: 415px) {
	.container_links h2{
		height: 60px;
	}
}

@media (max-width: 403px) {
	.index .container_password h2 {
		height: 60px;
	}
}

@media (max-width: 390px) {
	.container_weather {
		overflow-x: scroll;
	}
}

@media (max-width: 376px) {

	.container_password h2 {
		height: 60px;
	}
}

@media (max-width: 521px) {
	.links h2 {
		height: 60px;
	}
}